
.button{
    -fx-background-color: linear-gradient(to right, #348F50 0%, #56B4D3  51%, #348F50  100%);
    -fx-font-family: Inter,sans-serif;
    -fx-border-radius: 5px;
}
.button:hover{
    -fx-background-color: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    -fx-font-family: Inter,sans-serif;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}
.button:pressed{
    -fx-background-color: linear-gradient(to right, #603813 0%, #b29f94  51%, #603813  100%);
    -fx-font-family: Inter,sans-serif;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}
